<div class="modal-content">
	<div class="modal-header">
		<div class="modal-title h4" id="example-modal-sizes-title-lg">
			<div *ngIf="id; else create">
				<span>Edit Workspace</span>
			</div>
			<ng-template #create>
				<span> Create Workspace</span>
			</ng-template>
		</div>
	</div>
	<div
		class="cursor-default modal-body"
		style="min-height: 404px"
	>
		<ng-container *ngIf="isLoading$ | async">
			<div class="overlay-layer bg-transparent">
				<div class="spinner spinner-lg spinner-success"></div>
			</div>
		</ng-container>

		<ng-container *ngIf="formGroup">
			<form
				action="#"
				class="form form-label-right"
				[formGroup]="formGroup"
				autocomplete="off"
			>
				<div class="form-group row">
					<div class="col-lg-12">
						<label class="form-label">Enter Workspace Name</label>
						<input
							type="text"
							class="form-control form-control-lg form-control-solid"
							name="name"
							placeholder="Name"
							autocomplete="off"
							[class.is-invalid]="isControlInvalid('name')"
							[class.is-valid]="isControlValid('name')"
							formControlName="name"
						/>
						<div
							class="valid-feedback"
							*ngIf="isControlValid('name')"
						>
							Workspace Name was entered correct
						</div>
						<div
							class="invalid-feedback"
							*ngIf="controlHasError('required', 'name')"
						>
							Workspace Name is required
						</div>
						<div
							class="invalid-feedback"
							*ngIf="controlHasError('maxLength', 'name')"
						>
							Workspace Name should have maximum 100 symbols
						</div>
					</div>
				</div>
				<!-- <div class="form-group row">
					<div class="col-lg-12">
						<label class="form-label">Enter Description</label>
						<textarea class="form-control form-control-lg mb-3" rows="10" formControlName="dashboard"></textarea>
					</div>
				</div> -->
			</form>
		</ng-container>
	</div>
	<div class="modal-footer">
		<button
			type="button"
			class="btn btn-light btn-elevate mr-2"
			(click)="modal.dismiss()"
		>
			Cancel
		</button>
		<ng-container>
			<button
				type="submit"
				class="btn btn-primary btn-elevate"
				(click)="save()"
				[disabled]="(!formGroup || formGroup.invalid) || isLoading"
			>
				Save
			</button>
		</ng-container>
		<!-- <ng-container *ngIf="isLoading">
			<span class="spinner spinner-primary ml-3 mr-5"></span>
		</ng-container> -->
	</div>
</div>
