<div class="card card-xxl-stretch mb-5">
	<div class="card-header border-0 pt-5">
		<h3 class="card-title align-items-start flex-column">
			<span class="card-label fw-bolder fs-3 mb-1">
				<span style="color: var(--kt-dark);">Analysis Detail:</span> <span class="ms-3" style="color: var(--kt-primary)">{{ analysis && analysis.name ? analysis.name : "" }}</span>
			</span>
		</h3>
		<div class="align-items-start flex-column mb-5">
			<div
				class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-600 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold fs-5 my-5 my-lg-0 align-items-stretch"
				id="#kt_analysis_details_menu"
				data-kt-menu="true"
			>
				<!-- Workspace -->
				<div *ngFor="let tab of tabs" class="menu-item me-lg-3">
					<a
						(click)="changeTab(tab.id)"
						class="menu-link py-3"
						[ngClass]="{ active: tab.isSelected }"
						><span class="menu-title">{{ tab.name }}</span></a
					>
				</div>
				<!-- <div class="menu-item me-lg-3">
					<a
						routerLink="/analysis"
						class="btn btn-sm btn-secondary"
					>
						<span
							[inlineSVG]="
								'./assets/media/icons/duotune/arrows/arr022.svg'
							"
							class="svg-icon svg-icon-3"
						></span>
					</a>
				</div> -->
			</div>
		</div>
	</div>

	<!-- end::Header -->
	<!-- begin::Body -->
	<div class="card-body py-3">
		<div class="py-3">
			<div *ngIf="currentTabIndex == 0">
				<app-analysis-qc [analysisId]="analysisId"></app-analysis-qc>
			</div>
			<div *ngIf="currentTabIndex == 1">
				<app-variants></app-variants>
			</div>
            <div *ngIf="currentTabIndex == 2">
                <app-report [analysisId]="analysisId"></app-report>
            </div>
            

		</div>

		<!-- begin::Body -->
	</div>
</div>

<!-- <div class="card card-xxl-stretch mb-5 mb-xl-8">
	<div class="card-body py-3">
		
	</div>
</div> -->
