<div class="modal-content">
	<div class="modal-header">
		<div class="modal-title h4" id="example-modal-sizes-title-lg">
			<div *ngIf="id; else create">
				<span>Edit Sample</span>
			</div>
			<ng-template #create>
				<span> Create Sample</span>
			</ng-template>
		</div>
	</div>
	<div
		class="cursor-default modal-body overflow-auto"
		style="min-height: 400px; max-height: 550px"
	>
		<ng-container *ngIf="formGroup">
			<form
				action="#"
				class="form form-label-right"
				[formGroup]="formGroup"
				autocomplete="off"
			>
				<div class="form-group row">
					<div class="col-lg-6">
						<label class="form-label required"
							>Enter Sample Name</label
						>
						<input
							type="text"
							class="form-control form-control-lg form-control-solid"
							name="name"
							placeholder="Name"
							autocomplete="off"
							[class.is-invalid]="isControlInvalid('name')"
							[class.is-valid]="isControlValid('name')"
							formControlName="name"
						/>
						<div
							class="valid-feedback"
							*ngIf="isControlValid('name')"
						>
							Sample Name was entered correct
						</div>
						<div
							class="invalid-feedback"
							*ngIf="controlHasError('required', 'name')"
						>
							Sample Name is required
						</div>
						<div
							class="invalid-feedback"
							*ngIf="controlHasError('maxLength', 'name')"
						>
							Sample Name should have maximum 100 symbols
						</div>
					</div>
					<div *ngIf="!id; else sampleTypeEdit" class="col-lg-6">
						<label class="form-label required"
							>Select Sample Type</label
						>
						<select
							class="form-control form-control-lg form-control-solid"
							name="type"
							[class.is-invalid]="isControlInvalid('type')"
							[class.is-valid]="isControlValid('type')"
							formControlName="type"
							(change)="onSampleTypeChange()"
						>
							<option
								*ngFor="let type of sampleTypes"
								[value]="type.value"
							>
								{{ type.name }}
							</option>
						</select>
						<div
							class="valid-feedback"
							*ngIf="isControlValid('type')"
						>
							Sample Type was entered correct
						</div>
						<div
							class="invalid-feedback"
							*ngIf="controlHasError('required', 'type')"
						>
							Sample Type is required
						</div>
					</div>

					<ng-template #sampleTypeEdit>
						<div class="col-lg-6">
							<label class="form-label required"
								>Sample Type</label
							>
							<input
								type="text"
								disabled
								class="form-control form-control-lg form-control-solid"
								name="name"
								value="{{ sample ? (sample.type | sampleTypeConverter) : '' }}"
							/>
						</div>
					</ng-template>
				</div>

				<div class="form-group row mt-10">
					<div class="col-lg-6">
						<label class="form-label required"
							>Enter Patient First Name</label
						>
						<input
							type="text"
							class="form-control form-control-lg form-control-solid"
							name="firstName"
							placeholder="First Name"
							autocomplete="off"
							[class.is-invalid]="isControlInvalid('firstName')"
							[class.is-valid]="isControlValid('firstName')"
							formControlName="firstName"
						/>
						<div
							class="valid-feedback"
							*ngIf="isControlValid('firstName')"
						>
							First Name was entered correct
						</div>
						<div
							class="invalid-feedback"
							*ngIf="controlHasError('required', 'firstName')"
						>
							First Name is required
						</div>
						<div
							class="invalid-feedback"
							*ngIf="controlHasError('maxLength', 'firstName')"
						>
							First Name should have maximum 100 symbols
						</div>
					</div>
					<div class="col-lg-6">
						<label class="form-label required"
							>Enter Patient Last Name</label
						>
						<input
							type="text"
							class="form-control form-control-lg form-control-solid"
							name="lastName"
							placeholder="Last Name"
							autocomplete="off"
							[class.is-invalid]="isControlInvalid('lastName')"
							[class.is-valid]="isControlValid('lastName')"
							formControlName="lastName"
						/>
						<div
							class="valid-feedback"
							*ngIf="isControlValid('lastName')"
						>
							Last Name was entered correct
						</div>
						<div
							class="invalid-feedback"
							*ngIf="controlHasError('required', 'lastName')"
						>
							Last Name is required
						</div>
						<div
							class="invalid-feedback"
							*ngIf="controlHasError('maxLength', 'lastName')"
						>
							Last Name should have maximum 100 symbols
						</div>
					</div>
				</div>

				<div class="form-group row mt-10">
					<div class="col-lg-6">
						<label class="form-label required">Date of Birth</label>
						<input
							type="text"
							mask="00/00/0000"
							class="form-control form-control-lg form-control-solid is-invalid"
							[dropSpecialCharacters]="false"
							name="dob"
							placeholder="mm/dd/yyyy"
							autocomplete="off"
							[class.is-invalid]="isControlInvalid('dob')"
							[class.is-valid]="isControlValid('dob')"
							formControlName="dob"
						/>

						<div
							class="valid-feedback"
							*ngIf="isControlValid('dob')"
						>
							Date of Birth was entered correct
						</div>
						<div
							class="invalid-feedback"
							*ngIf="
								isControlInvalid('dob') &&
								!controlHasError('dobRange', 'dob')
							"
						>
							Please enter <b>Date of Birth</b>
							in 'mm/dd/yyyy' format
						</div>
						<div
							class="invalid-feedback"
							*ngIf="controlHasError('dobRange', 'dob')"
						>
							Invalid Date!
						</div>
					</div>
					<div class="col-lg-6">
						<label class="form-label required"
							>Patient Ethnicity</label
						>
						<select
							class="form-control form-control-lg form-control-solid"
							name="ethnicity"
							[class.is-invalid]="isControlInvalid('ethnicity')"
							[class.is-valid]="isControlValid('ethnicity')"
							formControlName="ethnicity"
						>
							<option
								*ngFor="let ethnicity of ethnicities"
								[value]="ethnicity.value"
							>
								{{ ethnicity.name }}
							</option>
						</select>
						<!-- <div class="feedback">Please select <b>Ethnicity</b></div> -->
						<div
							class="invalid-feedback"
							*ngIf="controlHasError('required', 'ethnicity')"
						>
							Patient ethnicity is required
						</div>
						<div
							class="valid-feedback"
							*ngIf="isControlValid('ethnicity')"
						>
							Patient ethnicity was entered correct
						</div>
					</div>
				</div>

				<div class="form-group row mt-10">
					<div class="col-lg-6">
						<label>Select Patient Gender</label>
						<select
							class="form-control form-control-lg form-control-solid"
							name="gender"
							[class.is-invalid]="isControlInvalid('gender')"
							[class.is-valid]="isControlValid('gender')"
							formControlName="gender"
						>
							<option
								*ngFor="let gender of genders"
								[value]="gender.value"
							>
								{{ gender.name }}
							</option>
						</select>
						<div
							class="invalid-feedback"
							*ngIf="controlHasError('required', 'gender')"
						>
							Gender is required
						</div>
						<div
							class="valid-feedback"
							*ngIf="isControlValid('gender')"
						>
							Gender was entered correct
						</div>
					</div>
				</div>

				<div *ngIf="SelectedSampleType" class="form-group row mt-10">
					<hr />
					<div class="col-lg-12 mt-10">
						<label class="form-label mb-5 required"
							>Upload {{ SelectedSampleType }} files</label
						>

						<app-upload
							[isRequired]="false"
							[sampleType]="SelectedSampleType"
							[sampleTypeChange$]="sampleTypeChange$"
						></app-upload>
					</div>
				</div>
			</form>
		</ng-container>
	</div>
	<div class="modal-footer">
		<button
			type="button"
			class="btn btn-light btn-elevate mr-2"
			(click)="modal.dismiss()"
		>
			Cancel
		</button>
		<ng-container>
			<button
				type="submit"
				class="btn btn-primary btn-elevate"
				(click)="save()"
				[disabled]="(isLoading$ | async) || !formGroup || formGroup.invalid"
			>
				Save
			</button>
			<ng-container *ngIf="isLoading$ | async">
				<div class="overlay-layer bg-transparent me-3">
					<div class="spinner spinner-md spinner-success"></div>
				</div>
			</ng-container>
		</ng-container>
	</div>
</div>
