.spin-loading {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	opacity: 0.7;
	background-color: #fff;
	z-index: 999;
}

th {
	position: sticky;
	top: 0;
	background-color: #fff;
    z-index: 100;
	box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.08);
}

.variant-list-table {
    border: 1px solid #dee2e6;
    padding: 0px 10px;
    border-radius: 5px;
    height: 420px;
}