<ng-container *ngIf="grouping.getSelectedRowsCount()">
	<div class="form mb-5">
		<div
			class="row align-items-center form-group-actions margin-top-20 margin-bottom-20"
		>
			<div class="col-xl-12">
				<div class="form-group form-group-inline">
					<div class="form-label form-label-no-wrap">
						<label class="font-bold font-danger"
							><span
								>Selected records count:
								<b>{{
									grouping.getSelectedRowsCount()
								}}</b></span
							></label
						>
					</div>
					<!-- <div>
						<button
							type="button"
							class="btn btn-sm btn-danger font-weight-bolder font-size-sm mr-1"
							(click)="deleteSelected()"
						>
							<i class="fa fa-trash"></i> Delete Selected</button
						>&nbsp;
					</div> -->
				</div>
			</div>
		</div>
	</div>
</ng-container>
<div class="table-responsive variant-list-table">
	<!-- begin::Table -->
	<table
		class="table table-row-dashed table-head-custom table-row-gray-300 align-middle gs-0 gy-4"
	>
		<!-- begin::Table head -->
		<thead>
			<tr class="fw-bolder text-muted">
				<th class="w-25px">
					<!-- <div
						class="form-check form-check-sm form-check-custom form-check-solid"
					>
						<input
							class="form-check-input"
							type="checkbox"
							(click)="grouping.selectAllRows()"
							[checked]="grouping.checkAreAllRowsSelected()"
						/>
					</div> -->
				</th>
				<th class="min-w-100px">
					Gene
					<app-sort-icon
						column="gene"
						class="mr-3"
						[activeColumn]="sorting.column"
						[activeDirection]="sorting.direction"
						(sort)="sort($event)"
					></app-sort-icon>
				</th>
                <th class="min-w-80px">
                    Chromosome
                </th>
				<th class="min-w-150px">
					Transcript
					<app-sort-icon
						column="transcript_id"
						class="mr-3"
						[activeColumn]="sorting.column"
						[activeDirection]="sorting.direction"
						(sort)="sort($event)"
					></app-sort-icon>
				</th>
				<th class="min-w-100px">HGVSc</th>
				<th class="min-w-100px">p.nomen</th>
				<th class="min-w-100px">Coverage</th>
				<th class="min-w-100px">Function</th>
				<th class="min-w-100px">Location</th>
				<th class="min-w-100px">ClinVar</th>
				<th class="min-w-100px">Classification</th>
				<th class="min-w-100px">rsid</th>
				<th class="min-w-100px">REF / ALT</th>
				<th class="min-w-100px">Cosmic</th>
				<th class="min-w-100px">Position</th>
			</tr>
		</thead>
		<!-- end::Table head -->
		<!-- begin::Table body -->
		<tbody class="position-relative">
			<div *ngIf="variantService.isLoading$ | async" class="spin-loading">
				<div
					style="position: fixed; top: 50%; left: 50%; z-index: 100"
					class="spinner-border text-primary"
				></div>
			</div>
			<tr *ngFor="let variant of variantService.items$ | async">
				<td>
					<div
						class="form-check form-check-sm form-check-custom form-check-solid"
					>
						<input
							class="form-check-input widget-9-check"
							type="checkbox"
							(click)="grouping.selectRow(variant.id)"
							[checked]="grouping.isRowSelected(variant.id)"
						/>
					</div>
				</td>
				<td>
					<a href="javascript:void(0)">{{ variant.gene }}</a>
				</td>
                <td>
                    {{ variant.chrom }}
                </td>
				<td>
					{{ variant.transcript_id }}
				</td>
				<td>
					{{ variant.cnomen }}
				</td>
				<td>
					{{ variant.pnomen }}
				</td>
				<td>
					{{ variant.coverage }}
				</td>
				<td>
					{{ variant.function }}
				</td>
				<td>
					{{ variant.location }}
				</td>
				<td>
					{{ variant.clinvar }}
				</td>
				<td>
					{{ variant.classification }}
				</td>
				<td>
					{{ variant.rsid }}
				</td>
				<td>{{ variant.REF }} / {{ variant.ALT }}</td>
				<td>
					{{ variant.cosmicID }}
				</td>
				<td>
					{{ variant.position }}
				</td>
			</tr>
		</tbody>
		<!-- end::Table body -->
	</table>
	<!-- end::Table -->
</div>
