
.analysis-status {
    span {
        padding: 5px 10px;
        border-radius: 4px;

        &.analyzed {
            background-color: var(--kt-primary);
            color: var(--kt-primary-light)
        }

        &.queuing {
            background-color: var(--kt-warning-active);
            color: var(--kt-warning-light)
        }

        &.analyzing {
            background-color: var(--kt-info);
            color: var(--kt-info-inverse)
        }

        &.error {
            background-color: var(--kt-danger);
            color: var(--kt-danger-inverse)
        }
    }
}

// th {
// 	position: sticky;
// 	top: 0;
// 	font-size: 14px;
// 	vertical-align: middle;
// 	background-color: #fff;
//     // color: var(--kt-primary-inverse);
// 	z-index: 100;
// 	box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.08);
// }

.list-table {
	max-height: var(--kt-table-max-height);

    a:hover {
        color: var(--kt-primary);
    }
}