<div class="card card-xxl-stretch mb-5 mb-xl-8">
	<!-- begin::Header -->

	<div class="card-header border-1 pt-5">
		<h3 class="card-title align-items-start flex-column">
			<span class="card-label fw-bolder fs-3 mb-1">Your Analyses</span>
		</h3>
		<div
			class="card-toolbar"
			data-bs-toggle="tooltip"
			data-bs-placement="top"
			data-bs-trigger="hover"
			title="Click to add a user"
		>
			<a
				href="javascript:void(0)"
				(click)="create()"
				class="btn btn-sm btn-primary"
			>
				<span
					[inlineSVG]="
						'./assets/media/icons/duotune/arrows/arr075.svg'
					"
					class="svg-icon svg-icon-3"
				></span>
				Create Analysis
			</a>
		</div>
	</div>
	<!-- end::Header -->
	<!-- begin::Body -->
	<div class="card-body py-10">
		<div class="form form-label-right mb-10">
			<div class="form-group row" [formGroup]="filterGroup">
				<div class="col-lg-3">
                    <p><b>Search</b> Analysis Name</p>
					<input
						type="text"
						class="form-control form-control-sm"
						name="searchText"
						placeholder="Search Analyses"
						value=""
						formControlName="searchTerm"
					/>
				</div>
                <div class="col-lg-2">
					<p><b>Filter</b> by Analysis Status</p>
					<select
						class="form-control form-control-sm"
						name="status"
						placeholder="Filter by Analysis Status"
						formControlName="status"
					>
                        <option value="">All</option>
                        <option *ngFor="let status of analisysStatusesFilter" [value]="status.value">{{ status.name }}</option>
					</select>
					<!-- <small class="form-text text-muted"><b>Filter</b> by Status</small> -->
				</div>
                <div class="col-lg-2">
					<p><b>Filter</b> by VCF Type</p>
					<select
						class="form-control form-control-sm"
						name="type"
						placeholder="Filter by VCF Type"
						formControlName="type"
					>
                        <option value="">All</option>
                        <option *ngFor="let type of vcfTypes" [value]="type.value">{{ type.name }}</option>
					</select>
				</div>
                <div class="col-lg-2">
					<p><b>Filter</b> by Workspace</p>
					<select
						class="form-control form-control-sm"
						name="workspaceId"
						placeholder="Filter by Workspace"
						formControlName="workspaceId"
					>
                        <option value="">All</option>
                        <option *ngFor="let workspace of (workspaces$ | async)" [value]="workspace.id">{{ workspace.name }}</option>
					</select>
				</div>
			</div>
            <div class="form-group row mt-10" [formGroup]="filterGroup">
                <div class="col-lg-3">
					<p><b>Filter</b> by Sample</p>
                    <ng-select2
						[data]="samples$ | async | formatSelect2Data"
						placeholder="Filter by Sample"
						[options]="options"
						formControlName="sampleId"
					>
					</ng-select2>
				</div>

            </div>
		</div>
		<ng-container *ngIf="grouping.getSelectedRowsCount()">
			<div class="form mb-5">
				<div
					class="row align-items-center form-group-actions margin-top-20 margin-bottom-20"
				>
					<div class="col-xl-12">
						<div class="form-group form-group-inline">
							<div class="form-label form-label-no-wrap">
								<label class="font-bold font-danger"
									><span
										>Selected records count:
										<b>{{
											grouping.getSelectedRowsCount()
										}}</b></span
									></label
								>
							</div>
							<div>
								<button
									type="button"
									class="btn btn-sm btn-danger font-weight-bolder font-size-sm mr-1"
									(click)="deleteSelected()"
								>
									<i class="fa fa-trash"></i> Delete Selected</button
								>&nbsp;
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-container>

		<app-paginator
			class="d-flex justify-content-between align-items-center flex-wrap"
			[paginator]="paginator"
			[isLoading]="isLoading"
			(paginate)="paginate($event)"
		></app-paginator>
		<!-- begin::Table container -->
		<div class="table-responsive list-table">
			<!-- begin::Table -->
			<table
				class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"
			>
				<!-- begin::Table head -->
				<thead>
					<tr class="fw-bolder text-muted">
						<th class="w-45px">
							<div
								class="form-check form-check-sm form-check-custom form-check-solid"
							>
								<input
									class="form-check-input"
									type="checkbox"
									(click)="grouping.selectAllRows()"
									[checked]="
										grouping.checkAreAllRowsSelected()
									"
								/>
							</div>
						</th>
						<th class="min-w-140px">
							Name
							<app-sort-icon
								column="name"
								class="mr-3"
								[activeColumn]="sorting.column"
								[activeDirection]="sorting.direction"
								(sort)="sort($event)"
							></app-sort-icon>
						</th>
						<th class="min-w-140px">Type</th>
						<th class="min-w-150px">Workspace</th>
						<th class="min-w-140px">Sample</th>
						<th class="min-w-110px">
							Date Created
							<app-sort-icon
								column="createdAt"
								class="mr-3"
								[activeColumn]="sorting.column"
								[activeDirection]="sorting.direction"
								(sort)="sort($event)"
							></app-sort-icon>
						</th>
						<th class="text-center min-w-150px">Status</th>
						<th class="w-120px text-center">Actions</th>
					</tr>
				</thead>
				<!-- end::Table head -->
				<!-- begin::Table body -->
				<tbody>
					<tr *ngFor="let analysis of analysisService.items$ | async">
						<td>
							<div
								class="form-check form-check-sm form-check-custom form-check-solid"
							>
								<input
									class="form-check-input widget-9-check"
									type="checkbox"
									(click)="grouping.selectRow(analysis.id)"
									[checked]="
										grouping.isRowSelected(analysis.id)
									"
								/>
							</div>
						</td>
						<td>
							<a class="item-name" href="javascript:void(0)">{{ analysis.name }}</a>
						</td>
						<td>
							{{ analysis.vcfType | vcfTypeConverter }}
						</td>
						<td>
							{{ analysis.workspace?.name }}
						</td>
						<td>
							{{ analysis.sample?.name }}
						</td>
						<td>
							{{ analysis.createdAt }}
						</td>
						<td class="text-center analysis-status">
							<span [class]="analysis.status | analysisClass">
								{{ analysis.status | analysisStatusConverter }}
							</span>
						</td>
						<td>
							<div
								class="d-flex flex-shrink-0 justify-content-center"
							>
								<a
									*ngIf="analysis.status | analysisAvailable"
									routerLink="./{{ analysis.id }}/detail"
									class="btn btn-icon btn-bg-light btn-active-color-info btn-sm me-1"
								>
									<span
										[inlineSVG]="
											'./assets/media/icons/duotune/general/gen057.svg'
										"
										class="svg-icon svg-icon-3 svg-icon-info"
									></span>
								</a>
								<button
									(click)="edit(analysis.id)"
									class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
								>
									<span
										[inlineSVG]="
											'./assets/media/icons/duotune/art/art005.svg'
										"
										class="svg-icon svg-icon-3 svg-icon-primary"
									></span>
								</button>
								<button
									class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm"
								>
									<span
										[inlineSVG]="
											'./assets/media/icons/duotune/general/gen027.svg'
										"
										class="svg-icon svg-icon-3 svg-icon-danger"
									></span>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
				<!-- end::Table body -->
			</table>
			<!-- end::Table -->
		</div>
		<!-- end::Table container -->

		<app-paginator
			class="d-flex justify-content-between align-items-center flex-wrap"
			[paginator]="paginator"
			[isLoading]="isLoading"
			(paginate)="paginate($event)"
		></app-paginator>
	</div>
	<!-- begin::Body -->
</div>
