
.analysis-status {
    span {
        padding: 5px 10px;
        border-radius: 4px;

        &.analyzed {
            background-color: var(--kt-primary);
            color: var(--kt-primary-light)
        }

        &.queuing {
            background-color: var(--kt-warning-active);
            color: var(--kt-warning-light)
        }

        &.analyzing {
            background-color: var(--kt-info);
            color: var(--kt-info-inverse)
        }

        &.error {
            background-color: var(--kt-danger);
            color: var(--kt-danger-inverse)
        }
    }
}