<div
	class="ms-5 menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-600 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold fs-6 my-5 my-lg-0 align-items-stretch"
	id="#kt_header_menu"
	data-kt-menu="true"
>
	<!-- Workspace -->
	<div class="menu-item me-lg-3">
		<a
			class="menu-link py-3"
			routerLinkActive="active"
			routerLink="/workspace"
			><span class="menu-title">Workspace</span></a
		>
	</div>

    <!-- Uploaded Files -->
	<div class="menu-item me-lg-3">
		<a
			class="menu-link py-3"
			routerLinkActive="active"
			routerLink="/samples"
			><span class="menu-title">Samples</span></a
		>
	</div>

    <!-- Samples -->
	<div class="menu-item me-lg-3">
		<a
			class="menu-link py-3"
			routerLinkActive="active"
			routerLink="/analysis"
			><span class="menu-title">Analyses</span></a
		>
	</div>

	<div class="menu-item me-lg-3">
		<a
			class="menu-link py-3"
			routerLinkActive="active"
			routerLink="/reference"
			><span class="menu-title">Reference</span></a
		>
	</div>

    

    <!-- Pipeline -->
	<!-- <div class="menu-item me-lg-3">
		<a
			class="menu-link py-3"
			routerLinkActive="active"
			routerLink="/pipeline"
			><span class="menu-title">Pipelines</span></a
		>
	</div> -->

     
</div>
