<div class="card card-xxl-stretch mb-5 mb-xl-8">
	<!-- begin::Header -->

	<div class="card-header border-1 pt-5">
		<h3 class="card-title align-items-start flex-column">
			<span class="card-label fw-bolder fs-3 mb-1">Reference</span>
		</h3>
	</div>
	<!-- end::Header -->
	<!-- begin::Body -->
	<div class="card-body py-10">
        <ul>
            <li>
                <a target="_blank" href="https://www.overleaf.com/read/xtwzcxqbgyyj
                ">Application Template</a>
            </li>
        </ul>
		
	</div>
	<!-- begin::Body -->
</div>
