<span
	(click)="toggleAside()"
	class="aside-toggle toggle-btn position-absolute btn btn-icon btn-primary btn-sm btn-hover-primary shadow-sm custom-aside-btn"
	id="kt_aside_toggle"
	data-toggle="tooltip"
	data-placement="right"
	data-container="body"
	data-boundary="window"
	title="Toggle Aside"
>
	<i
		[ngClass]="
			asideState
				? 'ki ki-bold-arrow-back icon-sm'
				: 'ki ki-bold-arrow-next icon-sm'
		"
	></i>
</span>

<div [hidden]="!asideState" class="filter-container">
	<div class="filter-header m-4">
		<h5>Filter</h5>
	</div>
	<hr />
	<div class="filter-body h-350px">
		<!-- begin: Filtration form -->
		<div class="form form-label-right" [formGroup]="filterGroup">
			<div class="form-group row mb-1">
				<label class="text-bold col-12 col-form-label">Gene</label>
				<div class="col-12">
					<ng-select2
						placeholder="Select Gene name"
						[options]="options"
						formControlName="geneName"
					>
					</ng-select2>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="text-bold col-12 col-form-label">
					Read Depth
				</label>
				<div class="col-5">
					<select
						class="form-control form-control-sm"
						placeholder="Filter by Type"
						name="type"
						formControlName="readDepthSign"
					>
						<option [value]="comparisonOperator.GREATER">>=</option>
						<option [value]="comparisonOperator.LOWER">=<</option>
					</select>
				</div>
				<div class="col-7">
					<input
						class="form-control form-control-sm"
						type="number"
						formControlName="readDepth"
					/>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="text-bold col-12 col-form-label"
					>Allele Fraction</label
				>

				<div class="col-5">
					<select
						class="form-control form-control-sm"
						placeholder="Filter by Type"
						name="type"
						formControlName="AFSign"
					>
						<option [value]="comparisonOperator.GREATER">>=</option>
						<option [value]="comparisonOperator.LOWER">=<</option>
					</select>
				</div>
				<div class="col-7">
					<input
						class="form-control form-control-sm"
						type="number"
						formControlName="alleleFraction"
					/>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="text-bold col-12 col-form-label"
					>Classification</label
				>
				<div class="col-12">
					<ng-select2
						[data]="classificationList"
						placeholder="Select Classification"
						[options]="options"
						formControlName="classification"
					>
					</ng-select2>
				</div>
			</div>
			<div class="form-group row mb-1">
				<label class="text-bold col-12 col-form-label">GnomAD</label>

				<div class="col-5">
					<select
						class="form-control form-control-sm"
						placeholder="Filter by Type"
						name="type"
						formControlName="gnomAdSign"
					>
						<option [value]="comparisonOperator.GREATER">></option>
						<option [value]="comparisonOperator.LOWER"><</option>
					</select>
				</div>
				<div class="col-7">
					<input
						class="form-control form-control-sm"
						type="number"
						min="0"
						formControlName="gnomAd"
					/>
				</div>
			</div>
			<!-- <div class="form-group row mb-1">
				<label class="text-bold col-12 col-form-label"
					>Annotation</label
				>
				<div class="col-12">
					<ng-select2
						[data]="annotationList"
						placeholder="Select Annotation"
						[options]="annotationOptions"
						formControlName="annotation"
						(valueChanged)="onTagChanged($event)"
					>
					</ng-select2>
				</div>
			</div> -->
			<div class="form-group row">
				<label class="text-bold col-12 col-form-label"
					>Chromosome</label
				>
				<div class="col-12">
					<ng-select2
						[data]="chromosomeList"
						placeholder="Select Chromosome"
						[options]="options"
						formControlName="chromosome"
					>
					</ng-select2>
				</div>
			</div>
		</div>
	</div>
	<hr />
	<!-- end: Filtration form -->
	<div class="filter-footer">
		<div class="form-group">
			<button class="btn btn-sm btn-primary" (click)="filter()">
				Apply Filter
			</button>
			<button class="btn btn-sm btn-primary ms-4" (click)="reset()">
				Reset
			</button>
		</div>
	</div>
</div>
