//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//

// Theme colors
// Primary
$primary:       									#04c8c8;
$primary-active:    								#00afaf;
$primary-light:    									#dcfdfd;
$primary-light-dark:    							#1c3238;
$primary-inverse:  									#ffffff;

// Success
$success:       									#04c8c8;
$success-active:    								#00afaf;
$success-light:    								    #f1faff;
$success-light-dark:    							#212e48;
$success-inverse:  									#ffffff;

// Info
$info:       									    #009ef7;
$info-active:    									#0095e8;
$info-light:    									#f8f5ff;
$info-light-dark:    								#2f264f;
$info-inverse:  									#ffffff;

// Danger
$danger:       									    #dc6a85;
$danger-active:    									#d9214e;
$danger-light:    									#fff5f8;
$danger-light-dark:   								#3a2434;
$danger-inverse:  									#ffffff;

// Warning
$warning:       									#ffc700;
$warning-active:    								#cfa510;
$warning-light:    									#fff8dd;
$warning-light-dark:								#392f28;
$warning-inverse:  									#ffffff;

// Card Box Shadow                                  
$card-box-shadow:                                   0px 10px 35px 0px rgba(56,71,109,0.075);
$card-box-shadow-dark:                              none;
$card-border-radius:                                0.85rem;

// Table
$table-max-height:                                  100%;


// Icon Sizes
$icon-sizes: (
    ss: 0.5rem,
    xs: 0.65rem,
    sm: 0.75rem,
    nm: 0.9rem,
	ms: 1.15rem,
    md: 1.25rem,
    lg: 1.5rem,
    xl: 1.75rem,
    xxl: 2.25rem,

    1x: 1rem,
    2x: 2rem,
    3x: 3rem,
    4x: 4rem,
    5x: 5rem,
    6x: 6rem,
    7x: 7rem,
    8x: 8rem,
    9x: 9rem,
    10x: 10rem
);
