<div class="position-relative h-900px">
    <div *ngIf="isLoading$ | async" class="spin-loading">
        <div
            style="position: fixed; top: 50%; left: 50%; z-index: 100"
            class="spinner-border text-primary"
        ></div>
    </div>
    <div *ngIf="!(isUrlLoading$ | async)">
        <iframe
            #iframe
            (load)="iframeLoaded()"
            [src]="url | safeUrl"
            frameBorder="0"
            width="100%"
            height="900px"
        ></iframe>
    </div>
</div>
